<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>

    <input formControlName="username" placeholder="Username" />
    <input formControlName="mail" placeholder="Email ID" />
    <input formControlName="mobileNumber" placeholder="Mobile Number" />

    <input formControlName="password" placeholder="Password" type="password" />

    <button type="submit" [disabled]="!loginForm.valid">Login</button>

    <div class="links">
      <a (click)="navigateToRegister()">Register</a>
      <a (click)="forgotPassword()">Forgot Password?</a>
    </div>
  </form>
</div>
