<div class="forgot-password-container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="verifyOtpAndReset()">
    <h2>Forgot Password</h2>

    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Enter your email" />

    <button type="button" (click)="sendOtp()" [disabled]="!forgotPasswordForm.get('email')?.valid" class="action-btn">
      Send OTP
    </button>

    <label>OTP</label>
    <input type="text" formControlName="otpCode" placeholder="Enter 6-digit OTP" maxlength="6" />

    <label>New Password</label>
    <input [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword" placeholder="Enter new password" />

    <button type="submit" class="action-btn">Verify OTP & Reset Password</button>
  </form>
</div>
